.bg-primary-color-0 {
  background-color: #f2f6fd !important;
}

.bg-primary-color-1 {
  background-color: #1859db !important;
}

.bg-primary-color-2 {
  background-color: #ca3e29 !important;
}

.bg-primary-color-3 {
  background-color: #546e7a !important;
}

.bg-primary-color-4 {
  background-color: #607d8b !important;
}

.bg-primary-color-5 {
  background-color: #455a64 !important;
}

.bg-primary-color-6 {
  background-color: #f2f6fd !important;
}
