
.title-product {
  line-height: 1.5em;
  height: 3em; /* height is 2x line-height, so two lines will display */
  overflow: hidden; /* prevents extra lines from being visible */
  // text-overflow: ellipsis;
  // white-space: nowrap;
  @include for_breakpoint(mobile tablet) {
    line-height: 1em;
    height: 1.5em;
  }
}

.font-size-8 {
  font-size: 8px !important;
  @include for_breakpoint(mobile tablet) {
    font-size: 8px !important;
  }
}
.font-size-10 {
  font-size: 10px !important;
  @include for_breakpoint(mobile tablet) {
    font-size: 8px !important;
  }
}
.font-size-11 {
  font-size: 11px !important;
  @include for_breakpoint(mobile tablet) {
    font-size: 9px !important;
  }
}

.font-size-12 {
  font-size: 12px !important;
  @include for_breakpoint(mobile tablet) {
    font-size: 10px !important;
  }
}

.font-size-14 {
  font-size: 14px !important;
  @include for_breakpoint(mobile tablet) {
    font-size: 12px !important;
  }
}

.font-size-16 {
  font-size: 16px !important;
  @include for_breakpoint(mobile tablet) {
    font-size: 14px !important;
  }
}

.font-size-18 {
  font-size: 18px !important;
  @include for_breakpoint(mobile tablet) {
    font-size: 16px !important;
  }
}

.font-size-20 {
  font-size: 20px !important;
  @include for_breakpoint(mobile tablet) {
    font-size: 18px !important;
  }
}

.font-size-22 {
  font-size: 22px !important;
  @include for_breakpoint(mobile tablet) {
    font-size: 20px !important;
  }
}

.font-size-24 {
  font-size: 24px !important;
  @include for_breakpoint(mobile tablet) {
    font-size: 22px !important;
  }
}

.font-size-26 {
  font-size: 26px !important;
  @include for_breakpoint(mobile tablet) {
    font-size: 24px !important;
  }
}

.font-size-28 {
  font-size: 28px !important;
  @include for_breakpoint(mobile tablet) {
    font-size: 26px !important;
  }
}

.font-size-30 {
  font-size: 30px !important;
  @include for_breakpoint(mobile tablet) {
    font-size: 28px !important;
  }
}

.font-size-32 {
  font-size: 32px !important;
  @include for_breakpoint(mobile tablet) {
    font-size: 30px !important;
  }
}

.font-size-34 {
  font-size: 34px !important;
  @include for_breakpoint(mobile tablet) {
    font-size: 32px !important;
  }
}
.font-size-36 {
  font-size: 36px !important;
  @include for_breakpoint(mobile tablet) {
    font-size: 34px !important;
  }
}

.font-size-38 {
  font-size: 38px !important;
  @include for_breakpoint(mobile tablet) {
    font-size: 36px !important;
  }
}

.font-size-40 {
  font-size: 40px !important;
  @include for_breakpoint(mobile tablet) {
    font-size: 38px !important;
  }
}
