
.shopdunk {
  background: #ee4d2d !important;
  border: #ee4d2d 1px solid;
  color: white;
}

.bachlongmobile {
  background: #d0011b !important;
  border: #d0011b 1px solid;
  color: white;
}

.viettelstore {
  background: #d0011b !important;
  border: #d0011b 1px solid;
  color: white;
}

.didongviet {
  background: #ff003a !important;
  border: #ff003a 1px solid;
  color: white;
}

.k24hstore {
  background: #ff003a !important;
  border: #ff003a 1px solid;
  color: white;
}


.nguyenkim {
  background: #ff003a !important;
  border: #ff003a 1px solid;
  color: white;
}


.cellphones {
  background: #1a94ff !important;
  border: #1a94ff 1px solid;
  color: white;
}


.topzone {
  background: #1a94ff !important;
  border: #1a94ff 1px solid;
  color: white;
}