
.shopee {
  background: #ee4d2d !important;
  border: #ee4d2d 1px solid;
  color: white;
}

.mall {
  background: #d0011b !important;
  border: #d0011b 1px solid;
  color: white;
}

.lazmall {
  background: #ff003a !important;
  border: #ff003a 1px solid;
  color: white;
}

.tiki {
  background: #1a94ff !important;
  border: #1a94ff 1px solid;
  color: white;
}