
.shopdunk {
  background: #515154 !important;
  border: #515154 1px solid;
  color: white;
}

.bachlongmobile {
  background: #ffd503 !important;
  border: #ffd503 1px solid;
  color: white;
}

.viettelstore {
  background: #f01a48 !important;
  border: #f01a48 1px solid;
  color: white;
}

.didongviet {
  background: #be1e2d !important;
  border: #be1e2d 1px solid;
  color: white;
}

.k24hstore {
  background: #1e8e04 !important;
  border: #1e8e04 1px solid;
  color: white;
}


.nguyenkim {
  background: #e4001e !important;
  border: #e4001e 1px solid;
  color: white;
}


.cellphones {
  background: #d70018 !important;
  border: #d70018 1px solid;
  color: white;
}


.topzone {
  background: #101010 !important;
  border: #101010 1px solid;
  color: white;
}

.dienmayxanh{
  background: #4a90e2 !important;
  border: #4a90e2 1px solid;
  color: white;
}