.line-through {
  text-decoration: line-through !important;
}

.font-color-1 {
  color: #00000099;
}
.font-color-2 {
  color: #000000de;
}

.font-color-customer {
  color: #6e6e6e;
}
.primary-color-1 {
  color: #1859db !important;
}

.primary-color-2 {
  color: #ca3e29 !important;
}

.primary-color-3 {
  color: #546e7a !important;
}

.primary-color-4 {
  color: #607d8b !important;
}
.primary-color-5 {
  color: #455a64 !important;
}

.primary-color-6{
  color:#d0011b !important;
}

.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
