.font-weight-1 {
  font-weight: 300 !important;
}

.font-weight-2 {
  font-weight: 500 !important;
}

.font-weight-3 {
  font-weight: 600 !important;
}
.font-weight-4 {
  font-weight: 700 !important;
}

.font-weight-5 {
  font-weight: 800 !important;
}
